.instagram {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    background: #b39082c7;
}
.instagramImg {
    width: 100vw;
    height: auto;
    opacity: 0.5;
}
@media (max-width: 680px) {
    .instagramImg{
        width: auto;
        height: 100px;
    }
}
.instaContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.instaContentHead {
    font-size: 2vw;
    letter-spacing: 0.1em;
    margin: 0;
    backdrop-filter: blur(5px); /* adds blur to everything behind it */
    -webkit-backdrop-filter: blur(5px);
    padding: 8px;
}
.instaContentSpan {
    color: white; 
    font: bold 24px/45px; 
    letter-spacing: -1px;  
    padding: 10px; 
    border: 2px solid white;
    padding: 10px 14px 6px;
    display: inline-block;
}




.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    align-items: center;
    margin: auto;
    gap: 50px;
    margin-top: 20px;
}
.bottom > *{
    flex: 1 1 0;
}
.bottomCol{
    max-width: 350px;
    min-width: 200px;
    text-align: center;
}

.emailPhone {
    text-decoration: none;
    color: #787878;
}


.footerList {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    padding: 0;
    gap: 15px;
    flex-wrap: wrap;
}
.listItem a {
    text-decoration: none;
    font-family: 'Comfortaa', cursive; 
    color: #e5bcac;
}