.container {
    max-width: 100vw;
    padding: 0 0;
    margin: 0 0;
    overflow-x: clip;
}
  
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.backToHome {
    margin: 3rem 0 0;
}

/* to use csss modules it needs to be called name.module.css */ 
