html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--comfortaa-font);
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--theme-colors-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: #AEA787;
  color: #f5e6d0;
  border: none;
  text-align: center;
  border-radius: 5px !important;
  padding: 6px 12px;
  text-transform: uppercase !important;
}

button:hover {
  background-color: #a19b80;
  color: #fff0da;
}

button h4 {
  margin: 8px 8px 6px;
}

h1 {
  font-family: var(--cinzel-font), serif;
  font-size: 5vw;
  font-weight: normal;
  text-align: center;
  color: #D8B048;
}

h2 {
  color: #D8B048;
  font-family: var(--cinzel-font), serif;
  font-weight: normal;
  font-size: 25px;
  text-align: center;

}

h3 {
  font-weight: normal;
  font-size: 25px;
  font-family: 'Garamond', serif;
  font-style: italic;
  color: #aea787;
  text-align: center;
}

h4 {
  text-transform: uppercase !important;
  color: #C89687;
  font-size: 18px !important;
  font-weight: normal;
}

p { 
  font-size: 16px;
  color: #787878;
}

img {
  pointer-events: none;
}
section {
  width: 100vw;
}
.blur {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.accordion-button {
  color: #787878 !important;
}
.accordion-button:hover {
  color: #ead6b8 !important;
}
.accordion-button:not(.collapsed) {
  color: #787878 !important;
  background-color: #e5bcac !important;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #aea787 !important;
  outline: 0;
  box-shadow: none !important;
}
.text-center{
  text-align: center;
}