.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
} 

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}











.container {
  width: 100vw;
  padding: 0 0;
  margin: 0 0;
}

.block {
    padding: 60px; 
    max-width: 900px; 
    width: 95vw;
    margin:0 auto; 
    text-align:justify;
}
.row {
  display: flex; 
  flex-direction: row; 
  gap: 20px;
  justify-content: space-between;
}
.rowAround {
  display: flex; 
  flex-direction: row; 
  width: 90vw; 
  max-width: 100vw;
  gap: 10px; 
  padding: 10px;
  margin-right: auto!important;
  margin-left: auto!important;
  flex-direction: row; 
  flex: 1 0 0%;
}
@media (max-width: 992px) {
  .rowAround {
    flex-direction: column;
  }
}
.blur {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #ffffffa8;
}


.emailPhone {
  text-decoration: none;
  color: #787878;
}
.emailPhone:hover {
  color: #e5bcac;
}


.parallax {
  overflow: hidden; 
  position: relative;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover; 
  -webkit-background-size: cover; 
}
@media (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}